/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

:root{
    --main-font : 'Manrope', sans-serif;
    --warning-color : #FF3D3D;
    --light-background : #F2F2F2;
}

html,
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
}
section{
    display: flex;
    width: 100%;
    padding: 20px 0;
}
.ngx-spinner-overlay{
    border-radius: 12px;
}